*~
/aaaaxy*.png
/aaaaxy-*.zip
/aaaaxy-debug-*
/aaaaxy-js-*
/aaaaxy-linux-*
/aaaaxy-windows-*
/aaaaxy.ico
/aaaaxy.manifest
/aaaaxy.syso
/aaaaxy.tiled-session
/assets/generated
/internal/vfs/_embedroot
/licenses
/packaging/AAAAXY.app/Contents/MacOS/aaaaxy-*
/packaging/AAAAXY.app/Contents/Resources/icon.icns
/wasm_exec.js
