[Desktop Entry]
Name=AAAAXY
Comment=A nonlinear puzzle platformer taking place in impossible spaces.
Exec=aaaaxy
Icon=${SNAP}/meta/gui/aaaaxy.png
Terminal=false
Type=Application
Categories=Game;ActionGame;
StartupNotify=true
