name: Deploy WebAssembly Build

on:
  push:
    tags: [v*]
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.20

    - name: Build
      run: 'GOOS=js GOARCH=wasm AAAAXY_BUILD_USE_VERSION_FILE=true make BUILDTYPE=release BINARY=aaaaxy-js-wasm.wasm'

    - name: Steal/acquire wasm_exec.js
      run: 'cp -v "$(GOOS=js GOARCH=wasm go env GOROOT)/misc/wasm/wasm_exec.js" .'

    - name: Deploy
      env:
        DEPLOY_URL: ${{ secrets.DEPLOY_URL }}
      run: 'tar cvzf - aaaaxy-js-wasm.wasm aaaaxy.html wasm_exec.js | base64 | curl -X POST -d @- "$DEPLOY_URL"'
