name: 100% Single-Platform Go 1.22 Test Run

on:
  pull_request:
  push:
  schedule:
    - cron: '29 12 * * *'
  workflow_dispatch:

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Install Dependencies
      run: 'sudo apt-get update && sudo apt-get -y install libasound2-dev libgl-dev libxcursor-dev libxi-dev libxinerama-dev libxrandr-dev libxxf86vm-dev xvfb'

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.22'

    - name: Build
      run: 'make'
      env:
        AAAAXY_BUILD_USE_VERSION_FILE: true

    - name: Fetch Test Cases
      env:
        REGRESSION_TEST_URL: ${{ secrets.REGRESSION_TEST_URL }}
      run: 'curl -o testcases.zip "$REGRESSION_TEST_URL"/100percent-v13.zip'

    - name: Extract Test Cases
      run: 'unzip testcases.zip'

    - name: Test
      # Also logging entity defaults so we can generate objecttypes.xml from that.
      run: 'xvfb-run sh scripts/regression-test-demo.sh linux-amd64 "your time: 1:04:11\\.250; your speedrun categories: 100%, All Notes and All Paths; try next: All Secrets\\." "./aaaaxy -debug_log_entity_defaults" *.dem'

    - name: Archive Results
      if: ${{ always() }}
      uses: actions/upload-artifact@v4
      with:
        name: regression-test-results-100percent-linux-amd64
        path: |
          *.dem.*.log
          *.dem.*.png
