name: 100% Single-Platform Test Run
'on':
  push:
    branches:
      - main
  schedule:
    - cron: '29 12 * * *'
  workflow_dispatch: null
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - name: Install Dependencies
        run: 'sudo apt-get update && sudo apt-get -y install libasound2-dev libgl-dev
          libxcursor-dev libxi-dev libxinerama-dev libxrandr-dev libxxf86vm-dev strip-nondeterminism
          xvfb'
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'
      - name: Build
        run: 'make'
        env:
          AAAAXY_BUILD_USE_VERSION_FILE: true
          GOTOOLCHAIN: local
      - name: Fetch Test Cases
        env:
          REGRESSION_TEST_URL: ${{ secrets.REGRESSION_TEST_URL }}
        run: 'curl -o testcases.zip "$REGRESSION_TEST_URL"/100percent-v18.zip'
      - name: Extract Test Cases
        run: 'unzip testcases.zip'
      - name: Test
        run: 'xvfb-run sh scripts/regression-test-demo.sh linux-amd64 "your time:
          1:17:08\\.800; your speedrun categories: 100%, All Notes and All Paths;
          try next: All Secrets\\." "./aaaaxy -debug_log_entity_defaults" *.dem'
      - name: Archive Results
        if: ${{ always() }}
        uses: actions/upload-artifact@v5
        with:
          name: regression-test-results-100percent-linux-amd64
          path: |
            *.dem.*.log
            *.dem.*.png
