name: 0% macOS App Bundle Test Run
'on':
  pull_request: null
  push: null
  schedule:
    - cron: 3 17 * * *
  workflow_dispatch: null
jobs:
  test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - name: Install Dependencies
        run: brew install imagemagick
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'
      - name: Build Specific
        run: sh scripts/binary-release-compile.sh
        env:
          AAAAXY_BUILD_USE_VERSION_FILE: true
          AAAAXY_ZIPFILE: aaaaxy.zip
          ADVZIP: ':'
          GOTOOLCHAIN: local
          STRIP_NONDETERMINISM_GZIP: ':'
          STRIP_NONDETERMINISM_ZIP: ':'
      - name: Build Universal
        run: sh scripts/binary-release-compile.sh amd64 arm64
        env:
          AAAAXY_BUILD_USE_VERSION_FILE: true
          AAAAXY_ZIPFILE: aaaaxy.zip
          ADVZIP: ':'
          GOTOOLCHAIN: local
          STRIP_NONDETERMINISM_GZIP: ':'
          STRIP_NONDETERMINISM_ZIP: ':'
          CGO_ENV_amd64: CGO_ENABLED=1 CC="clang -arch x86_64" CXX="clang++ -arch
            x86_64"
          CGO_ENV_arm64: CGO_ENABLED=1 CC="clang -arch arm64" CXX="clang++ -arch arm64"
