name: Post release on Matrix

on:
  push:
    tags: [v*]
  workflow_dispatch:

jobs:
  matrix_action_job:
    runs-on: ubuntu-latest
    name: Send Message to Matrix Room
    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - name: Attach head.
      run: 'git checkout -B main'

    - name: matrix-commit
      uses: krazykirby99999/matrix-commit@v1

      with:
        homeserver: ${{ secrets.BOT_HOMESERVER }}
        username: ${{ secrets.BOT_USERNAME }}
        access_token: ${{ secrets.BOT_ACCESS_TOKEN }}
        room_id: ${{ secrets.ROOM_ID }}
        message: "#### New Release:"
